# Aplicación
APP_NAME=RelojDAE API
APP_VERSION=0.1.0
ENVIRONMENT=development
DEBUG=true
API_PREFIX=/api/v1

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=dae_reloj
POSTGRES_USER=reloj_app
POSTGRES_PASSWORD=DAE

DB_POOL_SIZE=5
DB_MAX_OVERFLOW=10

# Frontend autorizado
BACKEND_CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

# Autenticación
# Generar mediante:
# python -c "import secrets; print(secrets.token_urlsafe(64))"
AUTH_SECRET_KEY=CAMBIAR_POR_UNA_CLAVE_ALEATORIA_DE_AL_MENOS_32_CARACTERES
AUTH_ACCESS_TOKEN_MINUTES=480

# Reloj ZKTeco
ZK_IP=192.168.137.2
ZK_PORT=4370
ZK_PASSWORD=171